@charset "utf-8";

/*--------------------------------*/
/*General Rules*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    font-size: 62.5%;
}

/*--------------------------------*/
/*Body*/
/*--------------------------------*/

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;  
    font-weight: 600; 
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}